<div class="group-of-all-content flex column space-btwn height-100">
  <app-header [title]="pageTitle"></app-header>
  <div class="group-of-initial-content">
    <div class="flex center-full">
      <div class="content-background">
        <section>
          <form [formGroup]="form" class="input-container">
            <h2>Código</h2>
            <div class="divider"></div>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Digite seu código:</mat-label>
              <textarea formControlName="input" matInput rows="10"></textarea>
            </mat-form-field>
          </form>
        </section>

        <section *ngIf="lexerResult">
          <h2>Analisador Léxico</h2>
          <div class="divider"></div>

          <h3>Tabela de símbolos</h3>
          <app-tabela-simbolos-lexico [tableOfSymbols]="lexerTable"></app-tabela-simbolos-lexico>
          <h3>Tokens</h3>
          <app-tokens-lexico [lexerResult]="lexerResult.result"></app-tokens-lexico>
        </section>

        <section *ngIf="parserResult">
          <h2>Analisador Sintático</h2>
          <div class="divider"></div>

          <h3>Tabela de símbolos</h3>
          <app-tabela-simbolos-sintatico [parserData]="parserResult"></app-tabela-simbolos-sintatico>
        </section>

        <button (click)="onSubmitClick()" class="full-width button-large"
                color="primary"
                mat-flat-button>
          Executar Análise
        </button>
        <button (click)="onClearClick()"
                class="full-width clear-button button-large"
                color="warn"
                mat-flat-button>
          Limpar
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
