.content-background {
  margin: 22px;
  background-color: var(--white);
  max-width: 75vw;
  width: 100%;
  min-height: 40vh;
  border-radius: 20px;
  border: 1px solid var(--neutral-gray-03);
  padding: 45px;
}

.divider {
  border: 1px solid #D3E2E5;
  margin: 12px 0 16px;
}

.clear-button {
  margin-top: 24px;
}
